* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  background-color: #f2f0f0;
}
a {
  color: black;
  text-decoration: none;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 1rem;
}
.logo-container {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.logo-container img {
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}
.logo-container p {
  font-size: 2.6rem;
  font-family: "Rakkas", cursive;
}

header ul {
  display: flex;
  margin: 10px;
  font-size: 1.6rem;
  list-style: none;
}
header ul li {
  margin: 5px 10px;
  padding: 5px 0;
  font-size: 1.8rem;
}

/* Animation - appear vertical line */
header ul li {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
header ul li:hover {
  background-size: 100% 2px;
}

main {
  width: 100%;
  /* height: calc(100vh - 120px); */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.7rem;
}

main .box {
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 6px solid black;
  border-radius: 40px;

  position: relative;
}
main .box-content {
  margin: 130px 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.box-content .title {
  min-width: 560px;
  height: 80px;
  margin: 0px 0 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 4px solid black;
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-content .title-text {
  font-size: 4rem;
  color: black;
  font-family: "Rakkas", cursive;
}

.form-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.group-container {
  display: flex;
  justify-content: space-between;
  width: 98%;
}
.label-input-container {
  display: flex;
  flex-direction: column;
}

.form-container label,
.form-container input,
.form-container select {
  margin-bottom: 10px;
}

.form-container input,
.form-container select {
  color: black;
  font-size: 1.8rem;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.4);
  padding: 4px 8px;
}
.cupon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
::placeholder {
  font-size: 1.5rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn {
  min-width: 270px;
  max-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  color: black;
  font-size: 1.7rem;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px 0 30px;
}
.btn-calculate:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  border: none;
}
.btn-reset:hover {
  color: #fff;
  background-color: rgba(255, 0, 0, 0.8);
  border: none;
}

.answer-container {
  width: 100%;
  height: 80px;
  border: 3px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}
.answer-text {
  text-align: center;
  line-height: 2.4rem;
  padding: 10px 20px;
}
.answer-text span {
  font-size: 105%;
  font-weight: bold;
}

footer {
  width: 100%;
  height: 40px;
  position: relative;
}

.author {
  color: black;
  font-size: 1.6rem;
  font-family: "Rakkas", cursive;
  position: absolute;
  right: 10px;
  bottom: 5px;
}
.author a:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

.msg-coupon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 6px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border: 0.5px solid rgba(0, 128, 0, 0.87);
  color: rgba(0, 128, 0, 0.87);
  background-color: yellow;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}
